:root {
    --primary: #3498db;
    --dark: #2980b9;
    --accent: #c0392b;
    --text: #333;
    --divider: #ecf0f1;
    --dark-grey: #34495e;
    --error: #e74c3c;
    --hint: #95a5a6;
    --font-family: 'Raleway', sans-serif;
    --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }